<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fair Weather</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.1/united/bootstrap.min.css" 
    integrity="sha512-B/+HwQLNIGvEYJWB7Uagk+ax/F3LE1oBoZo2J2p0iMFQs2qQel80UikCcdHRyqw0+V27qnRW+wQJgn/G3XSAsw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
</body>
</html>